[submodule "vim/bundle/command-t"]
	path = vim/bundle/command-t
	url = https://github.com/vim-scripts/Command-T.git
[submodule "vim/bundle/vividchalk"]
	path = vim/bundle/vividchalk
	url = https://github.com/tpope/vim-vividchalk.git
[submodule "vim/bundle/go"]
	path = vim/bundle/go
	url = https://github.com/fatih/vim-go.git
